
/* (Most) lists and description lists */

  dd
  {
   padding: 0;
  }
  dt
  {
  /* float: left; */
   margin: 0;
   padding: 0 .5em 0 0;
  }
  dt:after
  {
   /* visibility: hidden; */
   clear: left;
     content: ":";
  }

/* Overall structure */

  body
  {
   margin-left: 4em;
   margin-right: 4em;
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   font-size:small;
   /*background: #395991;*/
   /*background: #26325b;*/
   background: #222629;
  }
  #content
  {
   /*background: #d5dff4;*/
   /*background: #b0d0e5;*/
   background: #a5d9e1;
   border: 3px white solid;
   padding: 2em;
   border-radius: 20px;
  }

/* Quotation */
  q
  {
   font-style: italic;
   text-shadow: 0px 0px 10px white;
  }
  q span
  {
   float: left;
   color: #903;
   font-size: 75px;
   line-height: 60px;
   padding-top: 4px;
   padding-right: -5px;
   padding-left: 3px;
   font-family: Georgia;
  }
  q:before { content: ''; }
  q:after { content: &#8221;; }

/* List of papers */

  #papers, #thesis
  {
   margin-left: 3em;
  }
  #papers dt
  {
   display:list-item;
  }

  #papers dt:after, #thesis dt:after
  {
   content: "";
  }

/* Photograph */

  #photograph
  {
   float: right;
   border: 1px solid;
   border-radius: 3px;
   padding: 3px;
  }
  #photograph img
  {
   width: 180px;
  }

  #title
  {
      text-align: center;
      color: #222629;
      font-size: 50px
  }

/* WIP notice */
  .notice
  {
  /* font-family: Georgia; */
   color: #8b0000;
  }

/*"mark" syle for hightlighted stuff */
                mark
                {
                        background-color: rgba(1,1,1,0);
                        font-weight: bold;
                }


    .selected {
    width:100%;
    display: block;
  }
  .regular {
    width:100%;
    display: none;
  }
