<div class="container-fluid">
    <a class="navbar-brand" href="/">
        <b>Matthew Faw</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <hr>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="sidebar-nav-item" href="{{ 'public/resume.pdf' | relative_url }}"
                  target="_blank">CV</a>
            </li>
          {% assign pages_list = site.pages | sort: 'order' %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
              <li class="nav-item">
                <a class="navbar-nav-item{% if page.url == node.url %} active{%
                           endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>
